In [1]:
a = ["banna", "apple", "microsoft"]

In [2]:
print(a[0])
print(a[1])
print(a[2])

banna
apple
microsoft

In [3]:
for element in a:
    print(element)

banna
apple
microsoft

In [4]:
for element in a:
    print(element)
    print(element)

banna
banna
apple
apple
microsoft
microsoft

In [7]:
b = [20, 10, 5]
for e in b:
    print(e)

20
10
5

In [8]:
b = [20, 10, 5]
total = 0
for e in b:
    total = total + e

In [9]:
print(total)

35

In [10]:
range(1, 5)

range(1, 5)

In [18]:
b = range(1, 100)
total2 = 0
for e in b:
    total2 = total2 + e
print(total)

4950

In [12]:
list(range(1,5))

[1, 2, 3, 4]

In [13]:
c = list(range(1,5))

In [14]:
print(c)

[1, 2, 3, 4]

In [16]:
for i in range(1,5):
    print(i)

1
2
3
4

In [17]:
print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [22]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i

In [23]:
print(total3)

9

In [23]:
total_sum = 0
for i in range(1, 100):
    if i % 3 == 0 & i % 5 == 0:
        total_sum = total_sum + i
       # print(i)
print(total_sum)

1683

In [1]:
print("Mathew Holden")

Mathew Holden